<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>

</head>

<body>
  <!-- Don't remove the links please -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <!-- Navbar Stuff -->
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #845EC2;">
    <a class="navbar-brand text-white" href="/">
      <p class="fas fa-home"></p>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>  
    
    <a class="navbar-brand text-white" href="/profile">
      <p class="fas fa-user"></p>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-white" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item dropdown text-white">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Browse
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/category?keyword=pickups">Pick-ups</a>
            <a class="dropdown-item" href="/category?keyword=deliverables">Deliverables</a>
            <a class="dropdown-item" href="/category?keyword=services">Services</a>
            <a class="dropdown-item" href="/category?keyword=intangibles">Intangibles</a>
          </div>
        </li>

      </ul>

      <form id="search_form" action="/search" method="GET" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" id="keyword" name="keyword" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
      </form>
    </div>
  </nav>

  <!-- Item description -->
  <div align="center">
    <h1> <%= value.name %></h1>
    <h5> Description: <%= value.description %></h5>
    <img src="/images/itemPictures/<%= value.picture %>" alt="<%= value.picture %>" class="img-thumbnail rounded" style="width:20em">
    <h5> Owned by: <%= value.owner %> </h5>
    <br>
    <p> <%= displayMsg %></p>
    <% if (isOwner) { %>
      <br>
      <hr>
      <h5> Want to advertise this item? </h5>
      <p> Note that you can only advertise one item at any time</p>
      <% if (isAdvertised) {%>
        <div align="center">
          <small class="text-muted"> This item is already being advertised. </small><br/>
          <button disabled class="btn-secondary" style="width: 200px; height: 70px;" >Advertise</button>
        </div>
      <% } else { %>
        <form id="advertiseForm" method="post" action="/item/advertise?stuffId=<%=value.stuffid%>">
          <small class="text-muted"> Advertising this item will replace your currently advertised item. </small><br/>
          <button class="btn btn-outline-warning my-2 my-sm-0" id="advertiseButton" type="submit" style="width: 200px; height: 70px;">Advertise</button>
        </form>
      <% } %>
    <% } %>

    <!-- Borrow item forms and button -->
    <% if (!isBorrowed) {%>
    <form id="borrow_form" action="../item/borrow/?stuffId=<%=value.stuffid%>" method="POST">
      <div class="form-group row">
        <label for="bid" class="col-sm-5 col-form-label">How much do you bid?</label>
        <input class="form-control col-sm-5" type="number" id="bid" name="bid" placeholder="10.00" aria-label="Bid placed" required>
      </div>
      <div class="form-group row">
        <label for="bid" class="col-sm-5 col-form-label">Contact Number</label>
        <input class="form-control col-sm-5" type="tel" id="contact" name="contact" placeholder="87654321" aria-label="Contact Number" required>
      </div>
      <div class="form-group row">
        <label for="bid" class="col-sm-5 col-form-label">Email Address</label>
        <input class="form-control col-sm-5" type="email" id="email" name="email" placeholder="example@email.com" aria-label="Email Address" required>
      </div>
      <div class="form-group row">
        <label for="bid" class="col-sm-5 col-form-label">Loan Start Date</label>
        <input class="form-control col-sm-5" type="date" id="startDate" name="startDate" aria-label="Start Date" required>
      </div>
      <div class="form-group row">
        <label for="bid" class="col-sm-5 col-form-label">Loan End Date</label>
        <input class="form-control col-sm-5" type="date" id="endDate" name="endDate" aria-label="End Date" required>
      </div>
      <hr style="display: block; position: relative; padding: 0; margin: 3rem auto; height: 0; width: 90%; max-height: 0; font-size: 1px;
            line-height: 0; clear: both; border: none; border-top: 1px solid #aaaaaa; border-bottom: 1px solid #ffffff;">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-outline-success my-2 my-sm-0" data-toggle="modal" data-target="#confirmBorrow" style="width: 200px; height: 70px;">Borrow now!</button>

      <!-- Modal -->
      <div class="modal fade" id="confirmBorrow" tabindex="-1" role="dialog" aria-labelledby="confirmBorrow" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="confirmTitle">Confirmation</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Borrow this item?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No, take me back</button>
              <button type="submit" class="btn btn-primary">Yes, save changes</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <% } %>
    <br/>

    <% if(displayDelete) { %>
    <form id="delete_form" action="../item/delete/?stuffId=<%=value.stuffid%>" method="POST">
      <!-- Button trigger modal -->
      <button type="button" class="delete btn btn-outline-danger my-2 my-sm-0" data-toggle="modal" data-target="#confirmDelete" style="width: 200px; height: 70px;">Delete this item</button>

      <!-- Modal -->
      <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="confirmDelete" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="confirmTitle">Confirmation</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Delete this item?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No, take me back</button>
              <button type="submit" class="btn btn-primary">Yes, save changes</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <% } %>
</body>
</div>
</body>

</html>